<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
<ul>
    {% for link in links %}
        <li>{{ link.title|e }}</li>
    {% endfor %}
</ul>
</body>
</html>