<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
<ul>
    {% for link in links %}
        <li>
            <a href="{{ link.href|e }}">
                {{ link.title|e }}
            </a>

            <br>

            <h4>
                {{ link.article['header'] }}
            </h4>
            <span>
                {{ link.article['text'] }}
            </span>
        </li>
    {% endfor %}
</ul>
</body>
</html>